/* tables */

/* deal with paragraph in table cells */

th > p, td > p, li > p {
  margin: 0;
  padding: 0;
}

table.gridlines {
border-collapse: collapse;
border: 1px solid black;
}

table.gridlines > thead > tr > th,
table.gridlines > tbody > tr > th,
{
background-color: lightgrey;
}

table.gridlines > thead > tr > th,
table.gridlines > tbody > tr > th,
table.gridlines > tbody > tr > td
{
border: solid grey 1px; padding: 0.4em;
}

.rendered_html table,
table.gridlines {
  font-size: 87.5% !important;
}

.rendered_html table thead tr:nth-of-type(odd),
table.gridlines > thead > tr:nth-of-type(odd) {
  background-color: #ffffff40;
}

.rendered_html table thead tr:nth-of-type(even),
table.gridlines > thead > tr:nth-of-type(even) {
  background-color: #00000010;
}

.rendered_html table tbody tr:nth-of-type(odd),
table.gridlines > tbody > tr:nth-of-type(odd) {
  background-color: #00000010;
}

.rendered_html table tbody tr:nth-of-type(even),
table.gridlines > tbody > tr:nth-of-type(even) {
  background-color: #ffffff40;
}
